body {
    background-color: #e69138 !important;
}

footer {
    background-color: #e2b27e;
}

.align-but  {
    text-align: right;
    padding-top: 5px;
}

fieldset {
    background-color: #fff;
    margin: 10px;
}