body {
    background-color: #e69138 !important;
}

footer {
    background-color: #e2b27e;
}

.align-but  {
    text-align: right;
    padding-top: 5px;
}

.container-form {
    padding-top: 60px;
}

.formulario {
    background-color: #fff;
    padding-bottom: 5px;
    border: 4px solid grey;
    border-radius: 20px;

}