body {
    background-color: #e69138 !important;
}

.fondo {
    background-color: #f9cb9c;
}

h4 {
    padding-top: 35px;
}

.basurero {
    height: 60px;
    width: 60px;
    margin-top: 15px;
}

.nombreProducto {
    text-align: left;
}

.Precio_Cant {
    text-align: justify;
}

